body {
    width: 100%;
}

main {
    width: 1170px;
    height: 750px;
    margin: 122px auto;

}

div:first-child {
    border: 1px solid #FFCC00;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -15px;
    left: -15px;
    border-bottom: none;
    border-right: none;
}

div:nth-child(2) {
    border: 1px solid #FFCC00;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -15px;
    right: -15px;
    border-bottom: none;
    border-left: none;
}

div:nth-child(4) {
    border: 1px solid #FFCC00;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -15px;
    left: -15px;
    border-top: none;
    border-right: none;
}

div:nth-child(5) {
    border: 1px solid #FFCC00;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -15px;
    right: -15px;
    border-top: none;
    border-left: none;
}

.box {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 145px 0 60px 70px;
}

span {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    padding-left: 430px;
    padding-bottom: 15px;
    color: #898f8f;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: #fc0;
    margin: 17px;
}

.line__group {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.line__group hr {
    width: 210px;
    border: 0.5px solid #FFCC00;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.vertical__line {
    width: 560px;
    height: 1px;
    border: none;
    background-color: #FFCC00;
    transform: rotate(90deg);
    position: absolute;
    left: 235px;
    transform-origin: center;
    bottom: 208px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 390px;
    position: absolute;
    bottom: 120px;
    left: 970px;
    align-items: center;
}

.icons {
    margin-bottom: 50px;
}

.icons img {
    width: 30px;
    height: 30px;
}

.info h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    color: #666;
    margin: 0;
    margin-bottom: 15px;
}

.info hr {
    border: 0.5px solid #fc0;
    width: 100px;
    height: 0px;
    margin-top: 0;
    margin-bottom: 30px;
}

.info h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-transform: capitalize;
    text-align: center;
    color: #666;
    margin: 0 0 20px 0;
}

.info p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #333;
    margin-top: 0;
    width: 430px;
}

button {
    border: 1px solid #fc0;
    width: 118px;
    height: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #666;
    background: none;
    cursor: pointer;
}